input[type="text"],
input[type="date"],
input[type="email"],
input[type="submit"],
input[type="button"] {
    color:#cc7e25; /* Цвет текста внутри полей ввода и кнопок */
  background-color: #a2682abc;/* Цвет фона полей ввода и кнопок */
  border: 1px solid #523105fe; /* Цвет границ полей ввода и кнопок */
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px; /* Скругление углов полей ввода и кнопок */
}
label{  color:#cc7e25;}
input[type="submit"],
input[type="button"] {
  background-color: #af904c; /* Цвет фона кнопок */
  color: white; /* Цвет текста кнопок */
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #f39f0f; /* Цвет фона кнопок при наведении */
}

/* Стили для радиокнопок */
input[type="radio"] {
  margin-right: 10px;
}

label {
  margin-right: 20px;
}